body{
    background-color: #eba4eb;
    text-align: center;
    border: solid rgb(255, 255, 255) 2px;
    
}
#contenitore{
    Dborder: solid red 2px;
    font-family: "aboreto";
    width: 100%;
    
    
    
}
header{
    
    display: inline-flex;
    width: 100%;
    margin:10px;
    
    
}
#logo{
    
    margin: 0 auto;
}
#logo img{
    background-color: #ffffff;
    padding: 4%;
    width:90%;
    border: solid #F500A2 3px;
    border-radius: 20%;
}

#centro{
    dborder: solid rgb(255, 89, 0) 2px;
    display: inline-flex;
    width: 100%;
}
#menu{
    dborder: solid rgb(60, 255, 0) 2px;
    width: 20%;
    background-image: url(../immagini/home.jpg);
    background-attachment:fixed;
    background-repeat: repeat;
}
#menu nav{
    dborder: solid rgb(4, 0, 255) 1px;
    margin: 10%;
}

#menu nav  li{
    margin: 4px;
    border: solid rgb(255, 255, 255) 2px;
    background-color: #eba4eb;
list-style-type: none;    
}
.selezionato{
    color:#F500A2;
}
#menu nav  li a{
    font-size: 20pt;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
#menu nav  li :hover{
    font-size: 20pt;
    color: #eba4eb;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
}
.dropdown{
    margin: 0 4px;
}
.dropbtn {
    border: solid rgb(255, 255, 255) 2px;
    width:100%;
    color:#ffffff;
    background-color: #eba4eb;
    font-family: "aboreto";
    font-size: 20pt;
    
  }
  
  /* Stile del contenuto del menu a tendina (nascosto di default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 14%;
   
    
    
  }
  
  /* Stile degli elementi del menu a tendina */
  .dropdown-content a {
    font-size: 20pt;
    
    
    
    
    
    text-decoration: none;
    display: block;
    border: solid #F500A2 2px;
    background-color: #ffffff;
    color: #F500A2;
  }
  
  /* Cambia il colore del link al passaggio del mouse */
  .dropdown-content a:hover {
    background-color: #F500A2;
    color: #ffffff;
  }
  
  /* Mostra il menu a tendina quando il mouse passa sopra al bottone */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Cambia il colore del bottone al passaggio del mouse */
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #eba4eb;
  }


#box{
    dborder: solid rgb(3, 3, 3) 2px;
    width: 80%;
}
#home{
    dborder: solid rgb(255, 255, 255) 2px;
    background-image: url(../immagini/home.jpg);
    background-attachment:fixed;
    background-repeat: repeat;
    margin:auto;
    padding: 5%;
    
}
#home p {
    
    font-size: 20pt;
    color:#ffffff;
    text-shadow: #000000  0 0 30px ;
    background-color: #eba4eb;
    
    
    
    
}

#filtro{
    border: solid rgb(0, 255, 229) 2px;
    
    width: 100%;
    height: 10%;
    color: #F500A2;
    font-size: 20pt;
}
#filtro input{
    transition: .5s;
    outline: none;
  background: transparent;
  width: 30%;
  padding: 5px 10px;
  font-size: 16px;
  color: #F500A2;
  margin-bottom:30px;
  border: 3px solid #ffffff;
  

}
#contenuto{
    dborder: solid rgb(242, 0, 255) 2px;
    width: 100%;
    height: 90%;
}


footer{
    width: 100%;
   
    dborder: solid rgb(102, 0, 255) 2px;
}
/* Stile generale del footer 
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .social-media-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  
  .footer-bottom {
    background-color: #F500A2;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
    margin: 0;
  }
  */